@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

h1, h2, h3{
    color: #222;
}

p{
    color: #464545;
}

.navbar-container{
    width: 100%;
    height: 100px;
    background-color: #2525a7;
    padding: 0 2rem;
}

nav{
    position: relative;
}

.logo{
    width: 80px;
    padding: 10px 0;
}

.navbar-items{
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-items li{
    display: inline-block;
    list-style: none;
    margin-top: 10px;
    margin-left: 25px;
}

.navbar-items a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold ;
    transition: 0.5s;
}

.navbar-items a:hover{
    color: #b4b4b4;
}

.default-btn{
    padding: 15px 20px;
    background-color: #6673e7;
    border-radius: 5px;
}

.navbar-items .default-btn:hover{
    color: #fff;
    background-color: #5a66d8;
}

.main-banner{
    background-image: url("../img/DALL·E\ 2025-03-16\ 23.35.25\ -\ A\ modern\ and\ clean\ digital\ shopping\ scene\ with\ a\ blue\ color\ theme.webp");
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
}

.main-banner h1,
.main-banner p{
    color: #fff;
    text-shadow: 4px 3px 3px #000;
    text-align: center;
    font-weight: bold;
}

.main-banner h1{
    font-size: 50px;
}

.main-banner p{
    font-size: 34px;
    padding: 0 30px;
}

/* serviços */
.services-container{
    padding: 5rem 0;
}

.services-container ul{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li{
    flex: 1 1 200px;
    text-align: center;
    list-style: none;
    margin: 0 20px;
}

.services-container img{
    margin-bottom: 10px;
}

.services-container h3{
    margin-bottom: 25px;
}

.services-container p{
    line-height: 24px;
    padding-bottom: 10px;
}

/* produtos */
.products-container{
    padding-bottom: 5rem;
    text-align: center;
}

.products-container h2{
    font-size: 38px;
}

.products-container p{
    font-size: 20px;
    margin: 10px 0 25px;
}

.plans-container{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 50px;
}

.plan{
    flex: 1;
    background-color: #f4f4f4;
    border-radius: 10px;
    max-width: 475px;
    margin: 0 20px;
    height: 450px;
}

.plan ul{
    padding: 0;
}

.plan li{
    list-style: none;
    color: #fff;
}

.plan .products-text_maior{
    color: #000;
    padding: 15px 10px;
}

.plan .products-text_menor{
    color: #000;
    padding: 0 10px 20px;
}

.plan .products-text{
    color:#222
}

.plan .products-price{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #374c8c;
    color: #fff;
    text-align: center;
    line-height: 80px;
    padding-top: 15px;
    margin: -75px auto -50px;
    font-size: 18px;
    position: relative;
    top: 5px;
    border: 5px solid #cfcfcf;
}

.plan .products-tittle{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    background-color: #374c8c;
    padding: 65px 10px 10px;
    border-radius: 10px 10px 0 0;
}

.plan #products-tittle_menor{
    padding-bottom: 30px;
}

.plan .products-btn{
    background-color: #374c8c;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 0;
    margin: 20px 0;
    cursor: pointer;
    border-radius: 0 0 10px 10px;
}

.plan #li_2_menor_3{
    padding-top: 20px;
}

.plan #maior_btn{
    position: relative;
    bottom: 3px;
}

/* domain */
.domain-container{
    width: 100%;
    padding: 5rem 0;
    background-color: #b4b4b4;
    text-align: center;
    margin-bottom: 70px;
}

.domain-container h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #000;
}

.domain-container p{
    font-size: 24px;
    color: #222;
    margin-bottom: 20px;
}

.domain-container input{
    display: block;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
}

.domain-container input[type="text"]{
    width: 60%;
    padding: 20px;
    font-size: 20px;
}

.domain-container input[type="submit"]{
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 24px;
    background-color: #2525a7;
    color: #fff;
    opacity: .8;
    cursor: pointer;
}

.domain-container input[type="submit"]:hover{
    opacity: 1;
    transition: 0.5s;
}

/* contact */
.contact-container{
    text-align: center;
    padding: 2rem 0 2.5rem 0;
}

.contact-container h2{
    font-size: 34px;
    margin-bottom: 15px;
}

.contact-container p{
    font-size: 18px;
    margin-bottom: 30px;
}

.contact-container input,
.contact-container textarea{
    display: block;
    width: 475px;
    padding: 10px 15px;
    margin: 15px auto;
    font-size: 16px;
    border-radius: 4px;
}

.contact-container textarea{
    height: 200px;
    margin-bottom: 25px;
}

.contact-container input[type="submit"]{
    font-weight: bold;
    width: 200px;
    margin: 0 auto;
    background-color: #2525a7;
    color: #fff;
    cursor: pointer;
    opacity: .8;
}

.contact-container input[type="submit"]:hover{
    opacity: 1;
    transition: 0.5s;
}

/* footer */
footer{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 100px;
}

/* responsividade */
/* 1100px */
@media screen and (max-width: 1010px) {
    .plans-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .plan {
        max-width: 45%;
        margin-bottom: 30px;
    }
}

/* Para telas menores que 768px */
@media screen and (max-width: 768px) {
    
    .plans-container {
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        margin-bottom: 0;
    }

    .plan {
        max-width: 60%;
        margin-top: 50px;
    }

    .plan .products-price {
        height: 100px;
        width: 100px;
        font-size: 16px;
        padding-top: 5px;
        margin-bottom: -40px;
    }

    .plan .products-tittle {
        font-size: 14px;
    }

    .plan .products-text_maior,
    .plan .products-text_menor {
        font-size: 14px;
        padding: 10px;
    }

    .plan .products-btn {
        font-size: 20px;
        padding: 15px 0;
    }
}

/* Para telas menores que 576px */
@media screen and (max-width: 576px) {
    .plan {
        max-width: 60%;
    }

    .plan .products-price {
        width: 80px;
        height: 80px;
        font-size: 14px;
        padding-top:  0;
        margin-bottom: -30px;
    }

    .plan .products-tittle {
        font-size: 14px;
        padding: 50px 10px 10px;
    }

    .plan .products-text_maior,
    .plan .products-text_menor {
        font-size: 14px;
    }

    .plan .products-btn {
        font-size: 18px;
        padding: 12px 0;
    }
}